version: '3.8'
services:
  api:
    build: ./phx_api
    ports:
      - "4000:4000"
    volumes:
      - .:/phx_api
    depends_on:
      - db
    environment:
      - PGUSER=time_manager
      - PGPASSWORD=yN5ehRPdEiDrszR#!neYDQ8HXPQF*
      - PGDATABASE=phx_api_dev
      - PGHOST=db
      - PGPORT=5432
  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=time_manager
      - POSTGRES_PASSWORD=yN5ehRPdEiDrszR#!neYDQ8HXPQF*
    ports:
      - "5432:5432"
  front:
    build: ./web_app
    ports:
      - "5173:5173"
    volumes:
      - .:/web_app
    depends_on:
      - api
    tty: true
    
