version: '3.8'
services:
  db:
    image: postgres:latest
    env_file: ./.env
    ports:
      - "5432:5432"

  api:
    build: ./phx_api
    ports:
      - "4000:4000"
    volumes:
      - .:/phx_api
    depends_on:
      - db
    env_file: ./.env

  front:
    build: ./web_app
    ports:
      - "5173:5173"
    volumes:
      - .:/web_app
    depends_on:
      - api
    env_file: ./.env
    tty: true
